.single-product{
    margin-top: .5px;
    .col-2{
        img{
        padding: 0;
    }
    padding: 20px;
}
h4{
    font-size: 25px;
    font-weight: bold;
    margin: 1px 0;
    padding-left: 10px;
}
h1{
    color: black; 
    font-size: 40px; 
    padding: 1px; 
    font-weight: bold;
}
input{
    padding-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 50px;
    height: 40px;
    border: 1px solid #000000;
    &:focus{
        outline: none;
    }
}
.fa{
    color: #ff593b;
    margin-left: 10px;
}
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}