.testimonials{
    padding-top: 100px;
    background: radial-gradient(#fff, #ffd6d6);
    .col-1{
        text-align: center;
        padding: 80px 40px;
        padding-bottom: 150px;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        background-color: wheat;
        cursor: pointer;
        transform: 0.5s;
        &:hover{
            transform: translateY(-10px);
        }
        img{
            width: 150px;
            height: 150px;
            margin-top: 20px;
            border-radius: 50%;
        }
    }
}
.fa.fa-quote-left{
    font-size: 34px;
    color: blueviolet;
}